
<div class=""  ng-controller="homeCtrl">





  <nav class="">
    <a class="navbar-brand" href="#">GIT SEARCH</a>


    <form ng-submit="searchRepos()" class="form form-inline   " style="width:400px;">



      <div class="input-group search">
        <!-- <select ng-model="select" class="input-group-addon">
        <option value="users">Users</option>
        <option value="repositories" selected="selected" >Repositories</option>
      </select> -->

      <input class="form-control search" type="text" name="" ng-model="search" placeholder="Search repositories..."  ng-change="searchRepos()"/>
      <button type="submit" class="btn search-btn input-group-addon"><i class="material-icons">&#xE8B6;</i>
      </div></button>



    </form>
  </nav>





  <div class="leftPanel">





<div class="filterPopup ">
  <i class="material-icons filterButton hvr-bounce-in " data-toggle="collapse" data-target="#demo">&#xE896;</i>
      <div class=" collapse" id="demo" >
        <div class="filterSection">
          <select  class="input-group-addon" ng-model="filter" >
            <option value="" selected>OrderBy</option>
          <option value="created_at">Creation Date</option>
          <option value="updated_at" >Update date</option>
        </select>

        </div>
      </div>
</div>


    <div  class="listOfCard " ng-init="limit = 10">
      <div ng-repeat="n in response | orderBy: filter |limitTo : limit as results " class=" container reposCard   hvr-grow  ">

        <div class="row">
          <div class="col-7" >

          <h4><img src="{{n.owner.avatar_url}}" > {{n.owner.login}}/{{n.name}}</h4></div>

          <div class="col-5">
  Created at :{{n.created_at | date:' dd MMMM yyyy'}} <br>
  Last update : {{n.updated_at | date :'dd MMMM yyyy'}}
          </div>
          <div class="col-12 desc">

            <p>  Description : {{n.description  | limitTo: 60}} <span ng-if="n.description.length > 60">&hellip;</span></p>

          </div>


        </div>





        <a href="#/" ng-click="viewDetails(n.full_name)" class="showDetails btn " >Show details</a>
        <a href="{{n.html_url}}" target="_blank" class="gitView">View on Github</a>

      </div>
      <div class="col-12 " style="text-align:center;">
        <button  class=" btn showMore hvr-sweep-to-top" ng-hide="results.length === response.length"
          ng-click="limit = limit +5">show more...</button>
      </div>





    </div>






  </div>

<div class=" popContainer " ng-show="details" >



<div class="popUp container-fluid" >
  <i ng-click="details=null" class="material-icons hidePopup ">&#xE5CD;</i>
  <h1 class="detailsHead">{{details.repos.full_name}}</h1>
  <hr>

  <div class="row  ownerDetails">

    <div class="col-12">
    <p>{{details.repos.description}}</p>

    </div>
    <div class="col-4">
      <a class="btn listOfContributors" data-toggle="collapse" data-target="#list">
        List of Contributors
        <hr>
      </a>

      <div class="collapse" id="list">
        <p ng-repeat="contributor in details.contributors">{{contributor.login}} - {{contributor.contributions}} contributions</p>
      </div>
    </div>

    <div class="col-8">
      <canvas  id="doughnut" class="chart chart-doughnut"
        chart-data="data" chart-labels="labels">
      </canvas>
    </div>
  </div>


</div>

</div>


<!--
  <div class="rightPanel" ng-show="details">
    <h1 class="detailsHead">{{details.repos.name}}</h1>
    <hr>

    <div class="row  ownerDetails">
      <div class="col-2">
        <i class="material-icons">&#xE87C;</i>
      </div>
      <div class="col-10">
        <p>{{details.repos.owner.login}}</p>

      </div>
      <a class="btn" data-toggle="collapse" data-target="#list">
        List of Contributors
      </a>
      <div class="col-12 collapse" id="list">
        <p ng-repeat="contributor in details.contributors">{{contributor.login}}</p>
      </div>
    </div>


  </div> -->


</div>
